.navbar {
  background-color: #202229;
  display: flex;
  justify-content: right;
  align-items: center;
  height: 5vh;
}

.links {
  display: flex;
  list-style-type: none;
  text-transform: uppercase;
  font-size: 16px;
  animation: fadeInAnimation ease 3s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

.nav-link {
  margin: 0 60px;
  text-decoration: none;
  color: white;
}

.nav-link:hover {
  color: #0ff;
  transition: color 0.35s ease-in 0s;
}

@media only screen and (max-width: 700px) {
  .nav-link {
    margin: 0 20px;
  }
  .links {
    font-size: 14px;
  }
}

@keyframes fadeInAnimation {
  0% {
      opacity: 0;
  }
  100% {
      opacity: 1;
  }
}

